.feedback-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  opacity: 0;
}

.feedback-border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feedback-stars-container {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 38%;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
}

.star-wrapper {
  position: relative;
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.star-left {
  transform: translateY(50%);
}

.star-mid {
  transform: translateY(12%);
  width: 36%;
  z-index: 2;
}

.star-right {
  transform: translateY(50%);
}

.star-base {
  width: 100%;
  height: auto;
  display: block;
}

.star-animated {
  opacity: 0; /* Animated by anime.js */
}

.feedback-content {
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 90%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.feedback-title {
  color: #395b90;
  font-size: 4cqw;
}

.feedback-text {
  color: #395b90;
  font-size: 2.5cqw;
  margin: 0;
  font-weight: bold;
}

.feedback-score-pill {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 23%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-score-border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feedback-score-value {
  color: white;
  font-size: 2.5cqw;
  font-weight: bold;
  z-index: 10;
  font-family: "Cairo", sans-serif;
  direction: ltr;
}

.feedback-reload-btn {
  position: absolute;
  bottom: -6%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 10%;
  cursor: pointer;
}
